.wrapper {
    width: 80%;
    border: 0px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    text-align: center;
    font-family: monospace;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
    font-size: 40px;
}
button {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    padding: 10px 20px;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    font-family: monospace;

}

button.blue{
    background-color: #008ae6 ;
    color: whitesmoke;
}
button.pink {
    background-color: deeppink;
    color: whitesmoke;
}
button.green{
    background-color: chartreuse;
}

